@using SkillSale.Enums
@using SkillSale.Extensions
@model SkillSale.Models.Vacancy

@{
    ViewData["Title"] = "Создать";
}


<div class="hero-wrap hero-wrap-2" style="background-image: url('../../wwwroot/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
            <div class="col-md-12 ftco-animate text-center mb-5">
                <p class="breadcrumbs mb-0"><span class="mr-3"><a asp-action="Home" asp-area="Index">Главная <i class="ion-ios-arrow-forward"></i></a></span> <span>Job Post</span></p>
                <h1 class="mb-3 bread">Создание вакансии</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section bg-light">
    <div class="container">
            <form asp-action="Create">
        <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-md-12 col-lg-8 mb-5">

                        <div class="p-5 bg-white">
                            <h3 class="h5 text-black mb-3">Основная информация</h3>
                            <div class="row form-group">
                                <div class="col-md-12 mb-3 mb-md-0">
                                        <div class="form-group">
                                            <label asp-for="Title" class="control-label">Название должности</label>
                                            <input asp-for="Title" class="form-control" />
                                            <span asp-validation-for="Title" class="text-danger"></span>
                                        </div>
                                </div>
                            </div>

                            <div class="row form-group mb-2">
                                <div class="col-md-12 mb-3 mb-md-0">
                                    <div class="form-group">
                                        <label asp-for="CompanyName" class="control-label">Название компании</label>
                                        <input asp-for="CompanyName" class="form-control" />
                                        <span asp-validation-for="CompanyName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="Salary" class="control-label">Зарплата (от)</label>
                                        <input asp-for="Salary" class="form-control" />
                                        <span asp-validation-for="Salary" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="Experience" class="control-label">Необходимый опыт работы</label>
                                        <select asp-for="Experience" class="form-control">
                                            @foreach (var value in Enum.GetValues(typeof(WorkExperience)))
                                            {
                                                <option value="@value">@(((WorkExperience)value).GetDisplayName())</option>
                                            }
                                        </select>
                                        <span asp-validation-for="Experience" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="WorkStatus" class="control-label">Статус занятости</label>
                                        <select asp-for="WorkStatus" class="form-control">
                                            @foreach (var value in Enum.GetValues(typeof(WorkStatus)))
                                            {
                                                <option value="@value">@(((WorkStatus)value).GetDisplayName())</option>
                                            }
                                        </select>
                                        <span asp-validation-for="WorkStatus" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="Description" class="control-label">Описание должности</label>
                                        <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12 mb-3 mb-md-0">
                                    <input type="submit" value="Сохранить" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="p-4 mb-3 bg-white">
                            <h3 class="h5 text-black mb-3">Контактная информация</h3>
                                <p class="mb-4">
                                    <div class="form-group">
                                        <label asp-for="Location" class="control-label">Область</label>
                                        <select asp-for="Location" class="form-control">
                                            @foreach (var value in Enum.GetValues(typeof(Location)))
                                            {
                                                <option value="@value">@(((Location)value).GetDisplayName())</option>
                                            }
                                        </select>
                                        <span asp-validation-for="Location" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Address" class="control-label">Адрес</label>
                                        <input asp-for="Address" class="form-control" />
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                    </div>
                                </p>

                                <p class="mb-4">
                                    <div class="form-group">
                                        <label asp-for="Phone" class="control-label">Телефон</label>
                                        <input asp-for="Phone" class="form-control" />
                                        <span asp-validation-for="Phone" class="text-danger"></span>
                                    </div>
                                </p>

                                <p class="mb-0">
                                    <div class="form-group">
                                        <label asp-for="Email" class="control-label">Электронный адрес</label>
                                        <input asp-for="Email" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </p>

                        </div>

                        <div class="p-4 mb-3 bg-white">
                            <h3 class="h5 text-black mb-3">Дополнительно</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ad iure porro mollitia architecto hic consequuntur. Distinctio nisi perferendis dolore, ipsa consectetur</p>
                            <p><a href="#" class="btn btn-primary py-2 px-4">Ещё</a></p>
                        </div>
                    </div>                               
            </div>
                </form>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
