@model IEnumerable<SkillSale.Models.Vacancy>

@{
    ViewData["Title"] = "Вакансии";
}

<head>
    <meta charset="utf-8"/>
    <script src="~/js/jquery.min.js"></script>

    <script src="~/js/ajax/favoritebutton.js"></script>
    <script src="~/js/ajax/CandidateVacancy.js" charset="utf-8"></script>

</head>

<div class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
            <div class="col-md-12 ftco-animate text-center mb-5">
                <p class="breadcrumbs mb-0"><span class="mr-3"><a asp-controller="Home" asp-action="Index">Главная <i class="ion-ios-arrow-forward"></i></a></span> <span>About</span></p>
                <h1 class="mb-3 bread">Вакансии</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 pr-lg-4">
                <div class="row">
                    @foreach (var item in Model)
					{
                        <div class="col-md-12 ftco-animate">
                            <div class="job-post-item p-4 d-block d-lg-flex align-items-center position-relative">
                                <button id ="favoriteButton" data-value="@item.Id" class="favorite-button position-absolute top-0 end-0 mt-2 mr-2 btn btn-outline-warning">
                                    <i class="bi bi-heart"> </i>
                                </button>
                                <div class="one-third mb-4 mb-md-0">
                                    <div class="job-post-item-header align-items-center">
                                        <span class="subadge">@Html.DisplayFor(itemModel => item.WorkStatus)</span>
                                        <h2 class="mr-3 text-black"> <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(itemModel => item.Title)</a></h2>
                                        <h5 class="mr-3 text-black">От @Html.DisplayFor(itemModel => item.Salary) сом в месяц</h5>
                                    </div>
                                    <div class="job-post-item-body d-block d-md-flex">
                                        <div class="mr-3"><span class="icon-layers"></span> @Html.DisplayFor(itemModel => item.CompanyName)</div>
                                        <div class="mr-3"><span class="icon-location_city"></span> @Html.DisplayFor(itemModel => item.Location)</div>
                                        <div class="mr-3"><span class="icon-my_location"></span> @Html.DisplayFor(itemModel => item.Address)</div>
                                    </div>
                                </div>
                                
                                <div class="one-forth d-flex">
                                    <button id="CandidateVacancy" data-value="@item.Id" class="btn btn-primary p-2 px-3">Подать заявку</button>
                                </div>
                            </div>
                        </div>

                        
                    }
                    <!-- end -->
                </div>
                <div class="row mt-5">
                    <div class="col text-center">
                        <div class="block-27">
                            <ul>
                                <li><a href="#">&lt;</a></li>
                                <li class="active"><span>1</span></li>
                                <li><a href="#" disabled>&gt;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar-box bg-white p-4 ftco-animate fadeInUp ftco-animated col">
                <h3 class="heading-sidebar"><i class="bi bi-info-circle mr-2"></i>Страница вакансий</h3>
                <p style="color:black">
                    На этой странице, вы можете найти подходящую вакансию и связаться с работодателем.
                </p>

            </div>
        </div>
    </div>
</section>
