@using SkillSale.Enums
@using SkillSale.Extensions
@model SkillSale.Models.Resume

@{
    ViewData["Title"] = "Подробности";
    var value = Model;
}
<head>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/ajax/favoritebuttonResumes.js"></script>

</head>
<div class="hero-wrap hero-wrap-2" style="background-image: url('../../wwwroot/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
            <div class="col-md-12 ftco-animate text-center mb-5">
                <p class="breadcrumbs mb-0"><span class="mr-3">Главная <i class="ion-ios-arrow-forward"></i></span> <span>Job Post</span></p>
                <h1 class="mb-3 bread">Детали резюме</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-lg-8 mb-5">

                <div class="p-5 bg-white">
                    <h3 class="h5 text-black mb-3">Основная информация</h3>
                    <div class="job-post-item d-lg-flex align-items-start">
                        <div class="d-flex flex-row">
                            <div class="job-post-item-header align-items-center col-md-3 d-flex flex-column" style="justify-content:space-evenly">
                                <img src="/@(Model.Author.ProfileImage == String.Empty ? "profilePictures/noimage.jpg" : Model.Author.ProfileImage)" style="width:100px; height:100px; object-fit:cover; border-radius:100%" />
                                <div>@SkillSale.Helpers.DateHelper.CalculateAge(Model.Author.Age) лет</div>
                            </div>
                            <div class="job-post-item-header align-items-center col-md-9">
                                <h2 class="mr-3 text-black">@Html.DisplayFor(itemModel => itemModel.Author.FirstName) @Html.DisplayFor(itemModel => itemModel.Author.LastName)</h2>                                   
                                <p>Здесь могла быть ваша реклама</p>
                                    
                            </div>
                        </div>
                    </div>
                                      
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="font-weight-bold">Желаемая должность</label>
                            <h5 class="">@Model.DesiredPosition</h5>
                        </div>
                    </div>
                    
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="font-weight-bold">Желаемый доход</label>
                            <h5 class="">@Model.Salary</h5>
                        </div>
                    </div>
                    
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="font-weight-bold">Уровень образования</label>
                            <h5 class="">@EnumExtensions.GetDisplayName(Model.EducationLevel)</h5>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="font-weight-bold" for="fullname">Вид занятости</label>
                        </div>
                        <div class="col-md-12 mb-3 mb-md-0">
                            <h5>@EnumExtensions.GetDisplayName(Model.WorkStatus)</h5>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="font-weight-bold" for="fullname">Опыт работы</label>
                        </div>
                        <div class="col-md-12 mb-3 mb-md-0">
                            <h5>@EnumExtensions.GetDisplayName(Model.WorkExperience)</h5>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="font-weight-bold">О себе</label>
                            <h5 class="mr-3 text-black">@Html.DisplayFor(itemModel => itemModel.AboutMe)</h5>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <button id="favoriteButton" data-value="@Html.DisplayFor(itemModel => itemModel.Id)" class="btn btn-warning">
                                <i class="bi bi-heart"></i> В избранное
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="p-4 mb-3 bg-white">
                    <h3 class="h5 text-black mb-3">Контактная информация</h3>
                    <p class="mb-0 font-weight-bold">Область поиска работы</p>
                    <p class="mb-4">@EnumExtensions.GetDisplayName(Model.Location)</p>

                    <p class="mb-0 font-weight-bold">Телефон</p>
                    <p class="mb-4">@Model.Phone</p>

                    <p class="mb-0 font-weight-bold">Электронный адрес</p>
                    <p class="mb-0">@Model.Email</p>

                </div>
            </div>
        </div>
    </div>
</section>

