@using SkillSale.Enums
@using SkillSale.Extensions
@model IEnumerable<SkillSale.Models.Resume>

@{
    ViewData["Title"] = "Резюме";
}

<div class="hero-wrap hero-wrap-2" style="background-image: url('../images/bg_1.jpg');" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text align-items-end justify-content-start">
			<div class="col-md-12 ftco-animate text-center mb-5">
				<p class="breadcrumbs mb-0"><span class="mr-3">Главная <i class="ion-ios-arrow-forward"></i></span> <span>Job Post</span></p>
				<h1 class="mb-3 bread">Список резюме</h1>
			</div>
		</div>
	</div>
</div>

<section class="ftco-section bg-light">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 pr-lg-4">
				<div class="row">
					@foreach (var item in Model)
					{
					
						<div class="col-md-12 ftco-animate">
						
							<div class="job-post-item p-4 d-block d-lg-flex align-items-start">
								<div class="one-third mb-4 mb-md-0">
									<div class="d-flex flex-row">
										
										<div class="job-post-item-header align-items-center col-md-9">
											<h2 class="mr-3 text-black"><a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Author.FirstName) @Html.DisplayFor(modelItem => item.Author.LastName)</a></h2>

											@{
												var text = item.AboutMe;
												if (item.AboutMe.Length > 60){
													text = text.Remove(60);
													text += " ...";
												}
											}
											<p class="mr-3 text-black">@text</p>
										</div>
                                    </div>
								</div>


								<div class="one-third mb-4 mb-md-0" style="border:gray; border-left:1px solid; padding-left:10px;">
									<div class="job-post-item-header align-items-center">
										<span class="subadge">@Html.DisplayFor(modelItem => item.WorkStatus)</span>
										<h2 class="mr-3 text-black">@Html.DisplayFor(modelItem => item.DesiredPosition)</h2>
									</div>
									<div class="job-post-item-body d-block d-md-flex">
										<div class="mr-3"><span class="icon-layers"></span>От @Html.DisplayFor(modelItem => item.Salary) сом </div>		
									</div>
									<div class="job-post-item-body d-block d-md-flex">
										<div class="mr-3"><span class="icon-layer"></span>@Html.DisplayFor(modelItem => item.EducationLevel) </div>
										<div><span class="icon-my_location"></span> <span>@Html.DisplayFor(modelItem => item.Location)</span></div>
									</div>
								</div>

							</div>
						</div>
					}
				</div>

				<div class="row mt-5">
					<div class="col text-center">
						<div class="block-27">
							<ul>
								<li><a href="#">&lt;</a></li>
								<li class="active"><span>1</span></li>
								<li><a href="#" disabled >&gt;</a></li>
							</ul>
						</div>
					</div>
				</div>			

			</div>

			<div class="sidebar-box bg-white p-4 ftco-animate fadeInUp ftco-animated col">
				<h3 class="heading-sidebar"><i class="bi bi-info-circle mr-2"></i>Страница резюме</h3>
				<p style="color:black">
					На этой странице, вы можете найти подходящее резюме и связаться с его автором.
				</p>

			</div>
		</div>
	</div>
</section>