@inject SignInManager<SkillSaleUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<head>
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
</head>

<div class="col-md-2 menu-container mr-4 mb-4">
    <ul class="nav nav-tabs flex-column menuStyle text-center" id="myTab" role="tablist">
        <li class="nav-item mb-1">
            <a class="" asp-controller="Profile" asp-area="Profile" asp-action="Index">
                <button class="btn btn-sm btn-outline-dark btn-block "> <i class="bi bi-arrow-left-circle-fill iconStyle"><span class="ml-1">Назад</span></i></button>
            </a>
        </li>

        <li class="nav-item mb-1">
            <a class="@ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">
                <button class="btn btn-sm btn-outline-dark btn-block "> <i class="bi bi-person iconStyle"><span class="ml-1">Профиль</span></i></button>
            </a>
        </li>

        <li class="nav-item mb-1">
            <a class="@ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">
                <button class="btn btn-sm btn-outline-dark btn-block "> <i class="bi bi-envelope-at iconStyle"><span class="ml-1">Email</span></i></button>
            </a>
        </li>

        <li class="nav-item mb-1">
            <a class="@ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">
                <button class="btn btn-sm btn-outline-dark btn-block "> <i class="bi bi-passport iconStyle"><span class="ml-1">Пароль</span></i></button>
            </a>
        </li>

        <li class="nav-item mb-1">
            <a class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">
                <button class="btn btn-sm btn-outline-dark btn-block "> <i class="bi bi-lock iconStyle"><span class="ml-1">2FA</span></i></button>
            </a>
        </li>

        <li class="nav-item mb-1">
            <a class="@ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">
                <button class="btn btn-sm btn-outline-dark btn-block "> <i class="bi bi-database-check iconStyle"><span class="ml-1">Данные</span></i></button>
            </a>
        </li>

        @if (hasExternalLogins)
        {
            <li class="nav-item mb-1">
                <a class="@ManageNavPages.ExternalLoginsNavClass(ViewContext)" id="external-login" asp-page="./Externallogins">
                    <button class="btn btn-sm btn-outline-dark btn-block "> <i class="bi bi-google iconStyle"><span class="ml-1">Входы</span></i></button>
                </a>
            </li>
        }
    </ul>
</div>
